<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Message Details</h1>
  <p><strong>User:</strong> <%= message.user %></p>
  <p><strong>Posted:</strong> <%= message.added.toLocaleString() %></p>
  <p><strong>Text:</strong> <%= message.text %></p>
  <a href="/">Back to Home</a>
</body>
</html>
