<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Message Details</h1>
  </header>
  <div class="container message-detail">
    <p><strong>User:</strong> <%= message.user %></p>
    <p><strong>Posted:</strong> <%= message.added.toLocaleString() %></p>
    <p><strong>Message:</strong><br><%= message.text %></p>
    <a href="/">â† Back to Home</a>
  </div>
</body>
</html>
